In [2]:
#import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import seaborn as sns
import json
from pprint import pprint

In [3]:
oscars_data = "../the_oscar_award.csv"

In [4]:
oscars_data_df = pd.read_csv(oscars_data)
oscars_data_df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR IN A LEADING ROLE,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR IN A LEADING ROLE,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS IN A LEADING ROLE,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS IN A LEADING ROLE,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS IN A LEADING ROLE,Gloria Swanson,Sadie Thompson,False

In [5]:
oscars_data_df = oscars_data_df[oscars_data_df['winner'] == True] 
oscars_data_df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
1,1927,1928,1,ACTOR IN A LEADING ROLE,Emil Jannings,The Last Command,True
3,1927,1928,1,ACTRESS IN A LEADING ROLE,Janet Gaynor,7th Heaven,True
6,1927,1928,1,ART DIRECTION,William Cameron Menzies,The Dove;,True
9,1927,1928,1,CINEMATOGRAPHY,Charles Rosher,Sunrise,True
10,1927,1928,1,CINEMATOGRAPHY,Karl Struss,Sunrise,True

In [6]:

oscars_data_best_picture_winners_df = oscars_data_df[oscars_data_df['category'] == 'BEST PICTURE']
oscars_data_best_picture_winners_df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
21,1927,1928,1,BEST PICTURE,Paramount Famous Lasky,Wings,True
64,1928,1929,2,BEST PICTURE,Metro-Goldwyn-Mayer,The Broadway Melody,True
100,1929,1930,3,BEST PICTURE,Universal,All Quiet on the Western Front,True
140,1930,1931,4,BEST PICTURE,RKO Radio,Cimarron,True
178,1931,1932,5,BEST PICTURE,Metro-Goldwyn-Mayer,Grand Hotel,True

In [10]:
from config import OMDb_api_key

query_url = f"http://www.omdbapi.com/?apikey={OMDb_api_key}&t="
response = requests.get(query_url +"The Broadway Melody").json()
response

{'Title': 'The Broadway Melody',
 'Year': '1929',
 'Rated': 'Passed',
 'Released': '06 Jun 1929',
 'Runtime': '100 min',
 'Genre': 'Drama, Musical, Romance',
 'Director': 'Harry Beaumont',
 'Writer': 'Edmund Goulding (story), Norman Houston (dialogue), James Gleason (dialogue)',
 'Actors': 'Charles King, Anita Page, Bessie Love',
 'Plot': 'A pair of sisters from the vaudeville circuit try to make it big time on Broadway, but matters of the heart complicate the attempt.',
 'Language': 'English',
 'Country': 'USA',
 'Awards': 'Won 1 Oscar. Another 2 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BZmJlOWM4NDEtYmZmYS00MTIyLTgwYWMtMjFhYmNhZWU4ZmVmXkEyXkFqcGdeQXVyMDI2NDg0NQ@@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '5.7/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '33%'}],
 'Metascore': 'N/A',
 'imdbRating': '5.7',
 'imdbVotes': '6,565',
 'imdbID': 'tt0019729',
 'Type': 'movie',
 'DVD': '25 Feb 2017',
 'BoxOffice': 'N/A',
 'Production': 'Metro-Goldwyn-Mayer',
 'Website': 'N/A',
 'Response': 'True'}

In [29]:
# create lists to hold reponse info     
film_list = [] 
year_release_list = []       
date_release_list = []     

movies = oscars_data_best_picture_winners_df["film"]
years = oscars_data_best_picture_winners_df["year_film"]

In [30]:
print("Oscar_Winners")
print ("-------------")
counter = 1
nb_tries = 10

for movie,year in zip(movies,years):
    
    #print(movie,year)
    movie_url = query_url + movie.replace(' ','+')
    response = requests.get(movie_url)
    #response
    print(f'Processing Movie {counter} | {movie}')
    
    try:
        response.raise_for_status()
        data = response.json()
        film_list.append(data['Title'])
        year_release_list.append(data['Year'])
        date_release_list.append(data['Released'])
    except requests.exceptions.HTTPError as e:
        print('Movie not found. Move to next...')

Oscar_Winners
-------------
Wings 1927
Processing Movie 1 | Wings
The Broadway Melody 1928
Processing Movie 1 | The Broadway Melody
All Quiet on the Western Front 1929
Processing Movie 1 | All Quiet on the Western Front
Cimarron 1930
Processing Movie 1 | Cimarron
Grand Hotel 1931
Processing Movie 1 | Grand Hotel
Cavalcade 1932
Processing Movie 1 | Cavalcade
It Happened One Night 1934
Processing Movie 1 | It Happened One Night
Mutiny on the Bounty 1935
Processing Movie 1 | Mutiny on the Bounty
The Great Ziegfeld 1936
Processing Movie 1 | The Great Ziegfeld
The Life of Emile Zola 1937
Processing Movie 1 | The Life of Emile Zola
You Can't Take It with You 1938
Processing Movie 1 | You Can't Take It with You
Gone with the Wind 1939
Processing Movie 1 | Gone with the Wind
Rebecca 1940
Processing Movie 1 | Rebecca
How Green Was My Valley 1941
Processing Movie 1 | How Green Was My Valley
Mrs. Miniver 1942
Processing Movie 1 | Mrs. Miniver
Casablanca 1943
Processing Movie 1 | Casablanca
Going My Way 1944
Processing Movie 1 | Going My Way
The Lost Weekend 1945
Processing Movie 1 | The Lost Weekend
The Best Years of Our Lives 1946
Processing Movie 1 | The Best Years of Our Lives
Gentleman's Agreement 1947
Processing Movie 1 | Gentleman's Agreement
Hamlet 1948
Processing Movie 1 | Hamlet
All the King's Men 1949
Processing Movie 1 | All the King's Men
All about Eve 1950
Processing Movie 1 | All about Eve
An American in Paris 1951
Processing Movie 1 | An American in Paris
The Greatest Show on Earth 1952
Processing Movie 1 | The Greatest Show on Earth
From Here to Eternity 1953
Processing Movie 1 | From Here to Eternity
On the Waterfront 1954
Processing Movie 1 | On the Waterfront
Marty 1955
Processing Movie 1 | Marty
Around the World in 80 Days 1956
Processing Movie 1 | Around the World in 80 Days
The Bridge on the River Kwai 1957
Processing Movie 1 | The Bridge on the River Kwai
Gigi 1958
Processing Movie 1 | Gigi
Ben-Hur 1959
Processing Movie 1 | Ben-Hur
The Apartment 1960
Processing Movie 1 | The Apartment
West Side Story 1961
Processing Movie 1 | West Side Story
Lawrence of Arabia 1962
Processing Movie 1 | Lawrence of Arabia
Tom Jones 1963
Processing Movie 1 | Tom Jones
My Fair Lady 1964
Processing Movie 1 | My Fair Lady
The Sound of Music 1965
Processing Movie 1 | The Sound of Music
A Man for All Seasons 1966
Processing Movie 1 | A Man for All Seasons
In the Heat of the Night 1967
Processing Movie 1 | In the Heat of the Night
Oliver! 1968
Processing Movie 1 | Oliver!
Midnight Cowboy 1969
Processing Movie 1 | Midnight Cowboy
Patton 1970
Processing Movie 1 | Patton
The French Connection 1971
Processing Movie 1 | The French Connection
The Godfather 1972
Processing Movie 1 | The Godfather
The Sting 1973
Processing Movie 1 | The Sting
The Godfather Part II 1974
Processing Movie 1 | The Godfather Part II
One Flew over the Cuckoo's Nest 1975
Processing Movie 1 | One Flew over the Cuckoo's Nest
Rocky 1976
Processing Movie 1 | Rocky
Annie Hall 1977
Processing Movie 1 | Annie Hall
The Deer Hunter 1978
Processing Movie 1 | The Deer Hunter
Kramer vs. Kramer 1979
Processing Movie 1 | Kramer vs. Kramer
Ordinary People 1980
Processing Movie 1 | Ordinary People
Chariots of Fire 1981
Processing Movie 1 | Chariots of Fire
Gandhi 1982
Processing Movie 1 | Gandhi
Terms of Endearment 1983
Processing Movie 1 | Terms of Endearment
Amadeus 1984
Processing Movie 1 | Amadeus
Out of Africa 1985
Processing Movie 1 | Out of Africa
Platoon 1986
Processing Movie 1 | Platoon
The Last Emperor 1987
Processing Movie 1 | The Last Emperor
Rain Man 1988
Processing Movie 1 | Rain Man
Driving Miss Daisy 1989
Processing Movie 1 | Driving Miss Daisy
Dances With Wolves 1990
Processing Movie 1 | Dances With Wolves
The Silence of the Lambs 1991
Processing Movie 1 | The Silence of the Lambs
Unforgiven 1992
Processing Movie 1 | Unforgiven
Schindler's List 1993
Processing Movie 1 | Schindler's List
Forrest Gump 1994
Processing Movie 1 | Forrest Gump
Braveheart 1995
Processing Movie 1 | Braveheart
The English Patient 1996
Processing Movie 1 | The English Patient
Titanic 1997
Processing Movie 1 | Titanic
Shakespeare in Love 1998
Processing Movie 1 | Shakespeare in Love
American Beauty 1999
Processing Movie 1 | American Beauty
Gladiator 2000
Processing Movie 1 | Gladiator
A Beautiful Mind 2001
Processing Movie 1 | A Beautiful Mind
Chicago 2002
Processing Movie 1 | Chicago
The Lord of the Rings: The Return of the King 2003
Processing Movie 1 | The Lord of the Rings: The Return of the King
Million Dollar Baby 2004
Processing Movie 1 | Million Dollar Baby
Crash 2005
Processing Movie 1 | Crash
The Departed 2006
Processing Movie 1 | The Departed
No Country for Old Men 2007
Processing Movie 1 | No Country for Old Men
Slumdog Millionaire 2008
Processing Movie 1 | Slumdog Millionaire
The Hurt Locker 2009
Processing Movie 1 | The Hurt Locker
The King's Speech 2010
Processing Movie 1 | The King's Speech
The Artist 2011
Processing Movie 1 | The Artist
Argo 2012
Processing Movie 1 | Argo
12 Years a Slave 2013
Processing Movie 1 | 12 Years a Slave
Birdman or (The Unexpected Virtue of Ignorance) 2014
Processing Movie 1 | Birdman or (The Unexpected Virtue of Ignorance)
Spotlight 2015
Processing Movie 1 | Spotlight
Moonlight 2016
Processing Movie 1 | Moonlight
The Shape of Water 2017
Processing Movie 1 | The Shape of Water
Green Book 2018
Processing Movie 1 | Green Book
Parasite 2019
Processing Movie 1 | Parasite

In [32]:
print(film_list)

['Wings', 'The Broadway Melody', 'All Quiet on the Western Front', 'Cimarron', 'Grand Hotel', 'Cavalcade', 'It Happened One Night', 'Mutiny on the Bounty', 'The Great Ziegfeld', 'The Life of Emile Zola', "You Can't Take It with You", 'Gone with the Wind', 'Rebecca', 'How Green Was My Valley', 'Mrs. Miniver', 'Casablanca', 'Going My Way', 'The Lost Weekend', 'The Best Years of Our Lives', "Gentleman's Agreement", 'Hamlet', "All the King's Men", 'All About Eve', 'An American in Paris', 'The Greatest Show on Earth', 'From Here to Eternity', 'On the Waterfront', 'Marty', 'Around the World in 80 Days', 'The Bridge on the River Kwai', 'Gigi', 'Ben-Hur', 'The Apartment', 'West Side Story', 'Lawrence of Arabia', 'Tom Jones', 'My Fair Lady', 'The Sound of Music', 'A Man for All Seasons', 'In the Heat of the Night', 'Oliver!', 'Midnight Cowboy', 'Patton', 'The French Connection', 'The Godfather', 'The Sting', 'The Godfather: Part II', "One Flew Over the Cuckoo's Nest", 'Rocky', 'Annie Hall', 'The Deer Hunter', 'Kramer vs. Kramer', 'Ordinary People', 'Chariots of Fire', 'Gandhi', 'Terms of Endearment', 'Amadeus', 'Out of Africa', 'Platoon', 'The Last Emperor', 'Rain Man', 'Driving Miss Daisy', 'Dances with Wolves', 'The Silence of the Lambs', 'Unforgiven', "Schindler's List", 'Forrest Gump', 'Braveheart', 'The English Patient', 'Titanic', 'Shakespeare in Love', 'American Beauty', 'Gladiator', 'A Beautiful Mind', 'Chicago', 'The Lord of the Rings: The Return of the King', 'Million Dollar Baby', 'Crash', 'The Departed', 'No Country for Old Men', 'Slumdog Millionaire', 'The Hurt Locker', "The King's Speech", 'The Artist', 'Argo', '12 Years a Slave', 'Birdman or (The Unexpected Virtue of Ignorance)', 'Spotlight', 'Moonlight', 'The Shape of Water', 'Green Book', 'Parasite']

In [33]:
print(year_release_list)

['1927', '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1942', '1944', '1945', '1946', '1947', '1996', '2006', '1950', '1951', '1952', '1953', '1954', '1955', '2004', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2004', '2006', '2007', '2008', '2008', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

In [34]:
print(date_release_list)

['05 Jan 1929', '06 Jun 1929', '24 Aug 1930', '09 Feb 1931', '11 Sep 1932', '15 Apr 1933', '22 Feb 1934', '12 Jan 1936', '08 Apr 1936', '02 Oct 1937', '29 Sep 1938', '17 Jan 1940', '12 Apr 1940', '09 Apr 1942', '01 Dec 1942', '23 Jan 1943', '02 Oct 1944', '01 Jan 1946', '29 May 1947', '01 Mar 1948', '25 Dec 1996', '22 Sep 2006', '27 Oct 1950', '11 Nov 1951', '01 May 1952', '28 Aug 1953', '22 Jun 1954', '10 Jun 1955', '16 Jun 2004', '14 Dec 1957', '25 Jun 1958', '18 Nov 1959', '29 Jun 1960', '18 Oct 1961', '11 Dec 1962', '27 Jun 1963', '25 Dec 1964', '01 Apr 1965', '16 Dec 1966', '02 Aug 1967', '27 Sep 1968', '25 May 1969', '02 Apr 1970', '09 Oct 1971', '24 Mar 1972', '25 Dec 1973', '18 Dec 1974', '19 Nov 1975', '03 Dec 1976', '20 Apr 1977', '23 Feb 1979', '19 Dec 1979', '19 Sep 1980', '09 Apr 1982', '25 Feb 1983', '09 Dec 1983', '19 Sep 1984', '20 Dec 1985', '06 Feb 1987', '15 Apr 1988', '16 Dec 1988', '26 Jan 1990', '21 Nov 1990', '14 Feb 1991', '07 Aug 1992', '04 Feb 1994', '06 Jul 1994', '24 May 1995', '06 Dec 1996', '19 Dec 1997', '08 Jan 1999', '01 Oct 1999', '05 May 2000', '04 Jan 2002', '24 Jan 2003', '17 Dec 2003', '28 Jan 2005', '06 May 2005', '06 Oct 2006', '21 Nov 2007', '25 Dec 2008', '31 Jul 2009', '25 Dec 2010', '20 Jan 2012', '12 Oct 2012', '08 Nov 2013', '14 Nov 2014', '20 Nov 2015', '18 Nov 2016', '22 Dec 2017', '16 Nov 2018', '08 Nov 2019']

In [37]:
Oscar_Release_Date_df = pd.DataFrame({
    'Movie Title' : film_list,
    'Year Released' : year_release_list,
    'Date Released' : date_release_list,
})
Oscar_Release_Date_df.head()

                      Movie Title Year Released Date Released
0                           Wings          1927   05 Jan 1929
1             The Broadway Melody          1929   06 Jun 1929
2  All Quiet on the Western Front          1930   24 Aug 1930
3                        Cimarron          1931   09 Feb 1931
4                     Grand Hotel          1932   11 Sep 1932

In [38]:
import datetime

In [41]:
Oscar_Release_Date_df["Date Released"] = pd.to_datetime(Oscar_Release_Date_df["Date Released"], format='%d %b %Y')
Oscar_Release_Date_df['Month_of_Release'] = Oscar_Release_Date_df['Date Released'].dt.month
Oscar_Release_Date_df.head()

,Movie Title,Year Released,Date Released,Month_of_Release
0,Wings,1927,1929-01-05,1
1,The Broadway Melody,1929,1929-06-06,6
2,All Quiet on the Western Front,1930,1930-08-24,8
3,Cimarron,1931,1931-02-09,2
4,Grand Hotel,1932,1932-09-11,9

In [43]:
Oscar_Release_Date_df['Quarter_Released']  = Oscar_Release_Date_df['Date Released'].dt.to_period("Q")
Oscar_Release_Date_df.head()

,Movie Title,Year Released,Date Released,Month_of_Release,Quarter_Released
0,Wings,1927,1929-01-05,1,1929Q1
1,The Broadway Melody,1929,1929-06-06,6,1929Q2
2,All Quiet on the Western Front,1930,1930-08-24,8,1930Q3
3,Cimarron,1931,1931-02-09,2,1931Q1
4,Grand Hotel,1932,1932-09-11,9,1932Q3

In [53]:
Oscar_Release_Date_df["Quarter_Released"] = Oscar_Release_Date_df["Quarter_Released"].astype(str)
Oscar_Release_Date_df[['Year','Quarter']] = Oscar_Release_Date_df['Quarter_Released'].str.split('Q',expand=True)
Oscar_Release_Date_df.head()

,Movie Title,Year Released,Date Released,Month_of_Release,Quarter_Released,Year,Quarter
0,Wings,1927,1929-01-05,1,1929Q1,1929,1
1,The Broadway Melody,1929,1929-06-06,6,1929Q2,1929,2
2,All Quiet on the Western Front,1930,1930-08-24,8,1930Q3,1930,3
3,Cimarron,1931,1931-02-09,2,1931Q1,1931,1
4,Grand Hotel,1932,1932-09-11,9,1932Q3,1932,3

In [54]:
Oscar_Release_Date_df.columns

Index(['Movie Title', 'Year Released', 'Date Released', 'Month_of_Release',
       'Quarter_Released', 'Year', 'Quarter'],
      dtype='object')

In [56]:
Oscar_Release_Date_df2 = Oscar_Release_Date_df[['Movie Title', 'Year Released', 'Date Released', 'Month_of_Release',
       'Quarter_Released', 'Quarter']].copy()

In [63]:
Oscar_Release_Date_df["Quarter"] = pd.to_numeric(Oscar_Release_Date_df["Quarter"])

In [62]:
Oscar_Release_Date_df.dtypes

Movie Title                 object
Year Released               object
Date Released       datetime64[ns]
Month_of_Release             int64
Quarter_Released            object
Year                        object
Quarter                      int64
dtype: object

In [69]:
#plot = Oscar_Release_Date_df['Quarter'].plot.bar(figsize=(11, 6))

In [65]:
Oscar_Release_Date_df['Quarter'].value_counts()

4    38
2    22
1    20
3    12
Name: Quarter, dtype: int64